USE [SEDC]
GO
/****** Object:  Table [dbo].[Order]    Script Date: 5/23/2024 6:22:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[OrderDate] [date] NULL,
	[Status] [smallint] NULL,
	[BusinessEntityId] [int] NULL,
	[CustomerId] [int] NULL,
	[EmployeeId] [int] NULL,
	[TotalPrice] [decimal](18, 2) NULL,
	[Comment] [nvarchar](max) NULL,
 CONSTRAINT [PK_Order] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Order] ON 

INSERT [dbo].[Order] ([Id], [OrderDate], [Status], [BusinessEntityId], [CustomerId], [EmployeeId], [TotalPrice], [Comment]) VALUES (1, CAST(N'2019-04-30' AS Date), 0, 2, 4, 1, CAST(3574.00 AS Decimal(18, 2)), N'')
INSERT [dbo].[Order] ([Id], [OrderDate], [Status], [BusinessEntityId], [CustomerId], [EmployeeId], [TotalPrice], [Comment]) VALUES (2, CAST(N'2019-04-29' AS Date), 0, 2, 4, 2, CAST(3925.00 AS Decimal(18, 2)), N'')
INSERT [dbo].[Order] ([Id], [OrderDate], [Status], [BusinessEntityId], [CustomerId], [EmployeeId], [TotalPrice], [Comment]) VALUES (3, CAST(N'2019-04-28' AS Date), 0, 2, 4, 3, CAST(531.00 AS Decimal(18, 2)), N'')
GO
SET IDENTITY_INSERT [dbo].[Order] OFF
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Order_BusinessEntity] FOREIGN KEY([BusinessEntityId])
REFERENCES [dbo].[BusinessEntity] ([Id])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_Order_BusinessEntity]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Order_Customer] FOREIGN KEY([CustomerId])
REFERENCES [dbo].[Customer] ([Id])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_Order_Customer]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Order_Employee] FOREIGN KEY([EmployeeId])
REFERENCES [dbo].[Employee] ([Id])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_Order_Employee]
GO
